@import url(http://fonts.googleapis.com/css?family=Oldenburg|News+Cycle|Junge);

@charset "utf-8";

a {outline:none;}

/* Turn on a 12x12 scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-button:vertical:increment,
::-webkit-scrollbar-button:vertical:decrement,
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-corner:vertical,
::-webkit-scrollbar-resizer:vertical  {
    background-color:#CCC;
}
 
/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}
 
/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}
 
/* Track below and above */
::-webkit-scrollbar-track-piece {
    background-color:#CCC;
	-webkit-border-radius: 0px;
}
 
/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
    height:auto;
    background-color:#666;
	-webkit-border-radius: 0px;
}

a {
	outline:none;
	-webkit-transition:color 0.15s ease-out;
	-moz-transition:color 0.15s ease-out;
	-o-transition:color 0.15s ease-out;
	transition:color 0.15s ease-out;
}

body {
	margin:0px;
	min-width:1000px;
}

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	color:#990000;
	margin-bottom:20px;
	font-weight:normal;
	text-align:left;
	line-height:28px;
}

h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#990000;
	margin-top:30px;
	margin-bottom:20px;
	font-weight:normal;
	text-align:left;
	line-height:28px;
}

.header {
	background-image:url(../img/bg_body.gif);
	background-repeat:repeat;
	border-bottom:1px solid #CCCCCC;
	padding-top:60px;
}

.header_border_bottom {
	border-bottom:1px solid #FFFFFF;
	padding-bottom:70px;
}

.utility {
	margin-right:20px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
}

.utility a {
	color:#990000;
	text-decoration:none;
	margin:10px;
}

.utility a:hover {
	text-decoration:underline;
}

.title {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:24px;
	color:#FFFF66;
	margin-left:20px;
	text-align:left;
}

.content {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	text-align:justify; 
	margin-top:10px;
	margin-right:20px;
	margin-left:20px;
}

.subpage_header {
	font-family:'News Cycle', Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	color:#990000;
	margin-bottom:30px;
}

.subpage_content p {
	font-family:'Junge', Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:26px;
	color:#333333;
	margin-right:40px;
	text-align:justify;
}

.subpage_content a {
	color:#990000;
	text-decoration:underline;
}

.subpage_content ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#333333;
	text-align:left;
}

.primary_nav{
	margin-bottom:10px;
	
}

.primary_nav a {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:14px;
	color:#666666; 
	text-decoration:none;
	padding:12px;
	background-image:url(../img/bg_nav.png);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#DDDDDD;
	border-right:1px solid #CCCCCC;
}

.primary_nav a:hover {
	color:#990000;
	/*background-image:url(../img/bg_nav_hover.png);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#990000;*/
}

.divider {
	color:#DDDDDD;
}

.side_nav {
	margin-top:20px;
}

.side_nav a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#666666;
	text-decoration:none;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:10px;
	display:block;
}

.side_nav a:hover {
	color:#990000;
	text-decoration:none;
}


.bread_crumb {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
}

.bread_crumb a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#990000;
}

.callout_title {
	font-family:'Oldenburg', Georgia, 'Times New Roman', Times, serif;
	font-size:22px;
	color:#990000;
	margin-top:15px;
}

.callout_desc {
	font-family:'Junge', Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	line-height:22px;
	margin-top:15px;
}

.callout_link {
	margin-top:15px;
	text-align:left;
}

.callout_link a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#990000;
	text-decoration:none;
}

.callout_link a:hover {
	text-decoration:underline;
}


.email a {
	color:#990000;
	text-decoration:none;
}

.email a:hover {
	text-decoration:underline;
}

#footer_shell {
	margin-top:20px;
	padding-bottom:60px;
	border-top:1px solid #CCCCCC;
	width:100%;
	background-image:url(../img/bg_body.gif);
	background-repeat:repeat;
}

#footer_wrapper {
	border-top:1px solid #FFFFFF;
}

.footer {
	list-style:none;
	text-align:left;
	margin-top:0px;
}

.footer li ul li {
	list-style:none;
}

.footer li ul li a {
	text-decoration:none;
	color:#333333;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:24px;
}

.footer li ul li a:hover {
	text-decoration:underline;
	color:#990000;
}

.col {
	float:left;
	margin-left:-80px;
	margin-right:50px;
	width:220px;
}


.sub_footer {
	list-style:none;
	text-align:left;
}

.sub_footer li ul li {
	list-style:none;
}

.sub_footer li ul li a {
	text-decoration:none;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left:0px;
	line-height:24px;
}

.sub_footer li ul li a:hover {
	text-decoration:underline;
	color:#990000;
}

.sub_col {
	float:left;
	margin-left:-80px;
	margin-right:60px;
}

.footer_header {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	color:#333333;
	text-align:left;
}

.footer_copy {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	line-height:22px;
	padding-top:15px;
	padding-bottom:30px;
	text-align:left;
}

.blog_title {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16pxpx;
	color:#333333;
}

.blog_stamp {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999999;
	margin-top:10px;
}

.blog_separater {
	border-bottom:1px dotted #CCCCCC;
	margin-bottom:20px;
	padding-bottom:20px;
}

.call {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#555555;
	margin-right:10px;
}

.phone {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#555555;
}

.feature_img {
	padding:5px;
	border:1px solid #CCCCCC;
	float:right;
	margin-right:40px;
	margin-left:30px;
	margin-bottom:10px;
}







/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	
	width:853px;	
	height:505px;
	border:0px solid #FFFFFF;
	
}
/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../img/close.png);
	position:absolute;
	right:-28px;
	top:-28px;
	cursor:pointer;
	height:36px;
	width:36px;
}

<!--Gallery---------------------->

#triggers {
		text-align:center;
	}
	
	#triggers {
		cursor:pointer;	
	}
	
	
	
	/* styling for elements inside overlay */
	.details {
		position:absolute;
		top:15px;
		right:15px;
		font-size:11px;
		padding:20px;
		color:#fff;
		width:150px;
		background-image:url(../images/text_bg.png);
		background-repeat:repeat;
	}
	
	.details h3 {
		color:#CCCCCC;
		font-size:14px;
		margin:0 0 -10px 0;
		margin-bottom:10px;
	}
	
	.details p {
		margin-top:5px;
	}



/* container for slides */
.images {
	position:relative;	
	height:350px;
	width:900px;
	float:left;		
}

/* single slide */
.images div {
	display:none;
	position:absolute;
	top:0;
	left:0;		
	height:350px;
	width:900px;
}

/* header */
.images h3 {
	font-size:22px;
	font-weight:normal;
	margin:0 0 20px 0;
	color:#456;
}

/* tabs (those little circles below slides) */
.slidetabs {
	clear:both;
	margin-left:10px;
	margin-right:10px;
}

/* single tab */
.slidetabs a {
	width:8px;
	height:8px;
	float:left;
	margin:7px;
	background:url(../img/nav_inactive.gif) 0 0 no-repeat;
	font-size:1px;
	display:block;
}

/* mouseover state */
.slidetabs a:hover {
	background:url(../img/nav_hover.gif) 0 0 no-repeat;      
}

/* active state (current page state) */
.slidetabs a.current {
	background:url(../img/nav_active.gif) 0 0 no-repeat;     
} 	


/* prev and next buttons */
.forward {
	background:url(../img/arrow_right.png) no-repeat;
	display:block;
	width:24px;
	height:20px;
	cursor:pointer;
	font-size:1px;
	text-indent:-9999em;	
}

.backward {
	background:url(../img/arrow_left.png) no-repeat;
	display:block;
	width:24px;
	height:20px;
	cursor:pointer;
	font-size:1px;
	text-indent:-9999em;	
}

/* next */
.forward:hover 		{ background-image:url(../img/arrow_right.png) no-repeat; }
.forward:active 	 	{ background-image:url(../img/arrow_right.png) no-repeat; } 


/* prev */
.backward:hover  		{ background-image:url(../img/arrow_left.png) no-repeat; }
.backward:active  	{ background-image:url(../img/arrow_left.png) no-repeat; }

/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled {
	visibility:hidden !important;		
}